.features{
      min-height: 23.92857142857143em;
}

.notification{
    padding-top: 4.285714285714286em;
    min-height: 30.57142857142857em;
    background-color: #e3e3e3;
}

.get-in-touch{
    margin-top: 4.285714285714286em;
}

.social{
    margin-bottom: 4.285714285714286em;
}

.people span:first-child
{
    -webkit-mask-image:-webkit-gradient(linear, right top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.people span:last-child
{
    -webkit-mask-image:-webkit-gradient(linear, right top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.center{
    text-align: center;
}
