// import fonts

@font-face {
  font-family: 'Din';
  src: url('../fonts/din.ttf') format('truetype');
}
@font-face {
  font-family: 'DinCond';
  src: url('../fonts/din2.otf');
}
@font-face {
  font-family: 'News Condensed';
  src: url('../fonts/ngcondensed.ttf') format('truetype');
}

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';