@import url(https://fonts.googleapis.com/css?family=Pacifico|Raleway:600|Roboto:400,400i);


h1{
    font-family: 'Pacifico', cursive;
    font-size: 4.2857em;
    padding-top: 2.8333em;
    margin-bottom: 0.5833em;
    color: #FFFFFF;
    medium{
      color: #2ecc71;
    }
}

h3{
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 1.7143em;
    color: #FFFFFF;
    margin-bottom: 1.041666666666667em;
}

h4{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.142857142857143em;
    color: #222222;
    margin-bottom: 2.142857142857143em;
}

h5{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.285714285714286em;
    color: #2e2e2e;
    margin-bottom: 2.142857142857143em;
}

h6{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.714285714285714em;
    color: #2e2e2e;
    margin-bottom: 2.142857142857143em;
}

p{
    font-family: 'Roboto';
    color: #848484;
    margin-bottom: 2.142857142857143em;
    medium{
          font-style: italic;
    }
}
