// Option lists

footer
{
    background-color: $dark-background-color;
}

.footer-left{
    padding-top: em(40);

}

.list{
    display: inline-block;
    float: left;
}

.list-items{
    font-family: 'Din';
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    margin: em(15) em(135) 0 0;
}

.list-items a{
    color: $main-font-color;
}

.list-items:first-child{
    margin-top: 0;
    margin-left: 0;
}

.list-items:last-child{
    margin-bottom: 0;
    margin-right: 0;
}
