// LEFT SIDE OF THE FOOTER

.footer-left{
    padding-top: em(40);
    margin-bottom: em(60);
}

.list{
    display: inline-block;
    float: left;
}

.list-items{
    font-family: $text-secondary-font;
    font-size: em(14);
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    margin: em(15) em(135) 0 0;
}

.list-items a{
    color: $main-font-color;
}

.list-items:first-child{
    margin-top: 0;
    margin-left: 0;
}

.list-items:last-child{
    margin-bottom: 0;
    margin-right: 0;
}

// RIGHT SIDE OF THE FOOTER

.social{
    padding: 0;
    margin-top: em(35);
    margin-bottom: em(135);
}

.social-items{
    margin-right: em(10);
    display: inline-block;
    padding-left: 11px;
    list-style: none;
    border: 1px solid $main-font-color;
    height: em(50);
    width: em(50);
    float: left;
}


.suscribe-border{
    padding-bottom: em(15);
    border-bottom: 2px solid $main-font-color;
}

.credits{
    margin-bottom: em(35);
}
