footer{
    min-height: 9.285714285714286em;
    background-color: #e3e3e3;
}

footer p{
    margin-top: 4.285714285714286em;

}

p a{
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.285714285714286em;
    margin: 2.111111111111111em;
    color: #848484;
}

p a:hover{
    text-decoration: none;
    color: #2ecc71;
}
