
header
{
    background:  url('../images/hand.png') 90% bottom no-repeat, url('../images/top-image.png') right bottom no-repeat;
    min-height: 42.85714285714286em;
    background-size: 30.71428571428571em 36.42857142857143em, cover;
    margin-bottom: 4.285714285714286em;
}
