

.sprite-icon{
	margin-right: 1px;
    display: inline-flex;
	top: 5px;
	position: relative;
	background-image: url(../images/icon-sprite.png);
	background-position: 0 0 ;
	background-repeat: no-repeat;
	width: 18px;
    height: 18px;	
}

.sprite-icon-search {	
    background-position: -3px -1px ;
    }
.sprite-icon-search:hover {	
    background-position: -3px -19px ;
    transition: background-position 0.5s;
    }
.sprite-icon-shopingbag {	
    background-position: -23px -0px ;
    }
.sprite-icon-shopingbag--variant {	
    background-position: -23px -34px ;
    }
.sprite-icon-shopingbag:hover {	
    background-position: -23px -18px ;
    transition: background-position 0.5s;
    }
.sprite-icon-singin {	
    background-position: -42px -0px ;
    }
.sprite-icon-singin:hover {	
    background-position: -42px -18px ;
    transition: background-position 0.5s;
    }
.sprite-icon-heart {	
    background-position: -63px -1px; 
    }

.sprite-icon-youtube {	
    width: 27px;
    height: 31px;
    background-position: -113px 0px; 
    }
.sprite-icon-instagram {	
    width: 25px;
    height: 25px;
    background-position: -137px 2px; 
    }
.sprite-icon-twitter {	
    width: 25px;
    height: 25px;
    background-position: -158px 2px; 
    }
.sprite-icon-facebook {	
    width: 25px;
    height: 25px;
    background-position: -178px 2px;
    }
.sprite-icon-pinterest {	
    width: 25px;
    height: 25px;
    background-position: -195px 0px; 
    }
    