.input-group {
    width: 31.78571428571429em;
    height: 3.928571428571429em;
    margin-bottom: 2.5em;
}

.input-group .form-control {
    width: 21.78571428571429em;
    height: 3.928571428571429em;
    border-radius: 15px;
}
