// Layout styles

.layout-light-background{
    background: $main-background-color;
}
.layout-card{
    background: $light-background-color;
    height: 430px;
    text-align: center;
    position:relative;
}
.layout-card--ad{
    background: $light-background-color;
    
}
.layout-padded{
    padding:10px;
}
.layout-dark-background{
    background: $dark-background-color;
}