.sprite {
    background-image: url("../images/sprites.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    // display: inline-block;
    // position: relative;
}

.header-sprite {
    display: inline-block; //NECESARIOS
    width: 3.785714285714286em;
    height: 3.785714285714286em;
    background-color: #3a251c;
    opacity: 0.7;
    border-radius: 50%;;
}

.header-sprite:hover{
    background-color: #2ecc71;
    opacity: 0.9;
}

.sprite-apple::after{
    background-position: -1.785714285714286em 0em;
    height: 1.785714285714286em;
    width: 1.428571428571429em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: 0.9285714285714286em;
    left: 1.142857142857143em;
}

.sprite-android::after{
    background-position: 0em 0em;
    height: 1.785714285714286em;
    width: 1.642857142857143em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: 0.9285714285714286em;
    left: 1.142857142857143em;
}

.sprite-windows::after{
    background-position: -3.285714285714286em 0em;
    height: 1.785714285714286em;
    width: 1.642857142857143em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: 0.9285714285714286em;
    left: 0.9285714285714286em;
}

.content-sprite {
    background-color: #2ecc71;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    display: inline-block; //NECESARIOS
    margin-bottom: 2.214285714285714em;
    padding-top: 1.785714285714286em;
}

.sprite-gear::after{
    background-position: -5.214285714285714em 0em; //
    height: 3.071428571428571em;
    width: 3.071428571428571em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: 0.1428571428571429em;
    left: 1.928571428571429em;
}

.sprite-star::after{
    background-position: -8.428571428571429em 0em;
    height: 3.428571428571429em;
    width: 3.428571428571429em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: -0.2142857142857143em;
    left: 1.857142857142857em;
}

.sprite-world::after{
    background-position: -11.92857142857143em 0em;
    height: 3.428571428571429em;
    width: 3.428571428571429em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    left: 1.857142857142857em;
}

.people-sprite{
    width: 3.571428571428571em;
    height: 3.571428571428571em;
    margin-left: 0.2857142857142857em;
    margin-right: 0.2857142857142857em;

}

.people-sprite:hover{
    opacity: 0.2;
}

.personN{
    background-position: -23.71428571428571em 0em;
    content: '';
    display: inline-block;
    @extend .sprite;
    position: relative;
}

.social-sprite{
    margin-left: 0.3571428571428571em;
    margin-right: 0.3571428571428571em;
    background-color: #c5c5c5;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    display: inline-block; //NECESARIOS
}

.social-sprite:hover{
    background-color: #2ecc71;
}

.sprite-twitter::after{
    background-position: -311px 0px;
    height: 1em;
    width: 1.214285714285714em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: 0.7142857142857143em;
    left: 0.6428571428571429em;
}

.sprite-facebook::after{
    background-position: -261px 0px;
    height: 1.214285714285714em;
    width: 0.6428571428571429em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: 0.5714285714285714em;
    left: 0.8571428571428571em;
}

.sprite-pinterest::after{
    background-position: -239px 0px;
    height: 1.428571428571429em;
    width: 1.428571428571429em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: 0.53em;
    left: 0.58em;
}

.sprite-gplus::after{
    background-position: -273px 0px;
    height: 1.285714285714286em;
    width: 1.357142857142857em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: 0.6142857142857143em;
    left: 0.6428571428571429em;
}

.sprite-in::after{
    background-position: -294px 0px;
    height: 1.071428571428571em;
    width: 1.071428571428571em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: 0.665em;
    left: 0.745em;
}

.sprite-youtube::after{
    background-position: -218px 0px;
    height: 1.571428571428571em;
    width: 1.285714285714286em;
    content: '';
    display: block;
    @extend .sprite;
    position: relative;
    top: 0.4285714285714286em;
    left: 0.5714285714285714em;
}
