h1{
    font-size: em(45);
    color: $dark-font-color;
}
h2{
    font-size: em(55);
    color: $light-font-color;
    font-family: $text-secondary-font;
    font-weight: 500;
    letter-spacing: em(1);
}
h3{
    font-size: em(18);
    color: $dark-font-color;
    letter-spacing: em(1);
}
h6{
    font-size: em(10);
    color: $dark-font-color;
}
p{
    font-size: em(12);
}
