h1{
    font-size: em(45);
    color: $dark-font-color;
}
h2{
    font-size: em(55);
    color: $light-font-color;
}
h3{
    font-size: em(18);
    color: $dark-font-color;
}
h6{
    font-size: em(10);
    color: $dark-font-color;
}
p{
    font-size: em(12);
}
