// Em context
$browser_context: 16;

// Sprite map location
$sprite-map: url('../images/sprite.png');

// Fonts

$text-primary-font: 'Roboto', cursive;
$text-secondary-font: 'Din', sans-serif;

$dark-font-color: #333;
$light-font-color: #fff;
$main-font-color: #666;

// Layout colors

$main-background-color: #F0F7FB;
$light-background-color: #ffffff;
$dark-background-color: #0c0d0d;
$primary-color: #0088CD;
$secondary-color: #83D58C;
$detail-color: #2E2E2E;
$danger-color: #fc7070;


