// Em context
$browser_context: 16;

// Sprite map location
$sprite-map: url('../images/sprite.png');

// Fonts

$text-primary-font: 'Roboto', cursive;
$text-secondary-font: 'DinCond', sans-serif;

$dark-font-color: #333;
$light-font-color: #fff;
$main-font-color: #666;

// Layout colors

$main-background-color: #F0F7FB;
$light-background-color: #ffffff;
$dark-background-color: #0c0d0d;
$primary-color: #0088CD;
$secondary-color: #83D58C;
$detail-color: #2E2E2E;
$danger-color: #fc7070;

$filter-selector-color-pink: #ff00a3;
$filter-selector-color-purple: #9d00ff;
$filter-selector-color-blue: #0000ff;
$filter-selector-color-yellow: #fff200;
$filter-selector-color-orange: #ff7200;
$filter-selector-color-brown: #5f401d;
$filter-selector-color-red: #ff0000;
$filter-selector-color-grey: #9c9c9c;
$filter-selector-color-white: #ffffff;
$filter-selector-color-black: #000000;
